@import "nullstyle.scss"; //! Обнуляющий стиль!
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$border1: 1px solid red;
$border2: 1px solid blue;
$border3: 1px solid green;
$border4: 1px solid pink;

$color1: #000000;
$color2: #FFFFFF;
$color3: #B6F214;

body{
    font-family: 'Work Sans', sans-serif;
    position: relative;
    width: 1440px;
    height: 4674px;
    background-color: $color2;
}

.header {
position: absolute;
width: 100%;
height: 91px;
left: 0px;
top: 0px;
background-color: $color1;

        &__row {
            display: flex;
            justify-content: space-around;
        }

    .header-logo {
        transform: translate(-100px, 10px);
    }
    .header-img {
    }
    .header-menu {
    }
    .header-column {
        transform: translateY(30px);
    }
    .header-list {
        display: inline;
        color: $color2;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 10px;
        margin-right: 20px;
        border-radius: 8px;
        
        span{
            padding: 10px;
            border-radius: 8px;
        }

        :hover{
            color: $color1;
            background-color: $color3;
            transition: 0.4s;
        }

        :active{
            color: $color2;
            transition: 0.2s;
        }
    }
}

.content-head {
    padding-left: 35px;
    padding-top: 118px;
    position: absolute;
    width: 1809.65px;
    height: 2159.65px;
    top: 79px;
    background-image: url('/assets/content-head/BG.png');
    &__row {
            
    }

    .head-title {
        font-size: 81px;
        font-weight: 500;
        line-height: 100px;
        letter-spacing: -3px;
        color: #000;
        height: 200px;
        width: 765px;
        left: 97px;
        top: 199px;
        border-radius: nullpx;    
    }
    .head-subtitle {
        padding-top: 26px;
        font-size: 30px;
        line-height: 40px;
        color: rgba(0, 0, 0, 0.8);
        height: 120px;
        width: 771px;   
    }
    .head-button {
        padding-top: 40px;
        padding-bottom: 89px;

        :hover{
            background-color: $color1;
            transition: 0.4s;
            span{
                color: $color2;
                background: url('/assets/content-head/arrow-w.png') right no-repeat;
            }
        }

        :active{
            background-color: $color3;
            border: 3.5px solid $color1;
            transition: 0.4s; 

            span{
                border: none;
                color: $color1;
                background: url('/assets/content-head/arrow.png') right no-repeat;
            }
        }

        &__link {
            padding: 20px;
            padding-left: 40px;
            background-color: $color2;
            border: 3.5px solid $color2;
            border-radius: 4px;

            span{
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                text-transform: uppercase;
                color: #000;
                padding-right: 27px;
                background: url('/assets/content-head/arrow.png') right no-repeat;
            }
        }
    }
    .head-video {

        &__img {
        }
    }
    .head-bottom-title {
        padding-top: 100px;
        padding-bottom: 42px;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.8);
        width: 1166px;
        height: 20px;
    }
    .head-bottom-subtitle {
        font-size: 46px;
        font-weight: 500;
        line-height: 60px;
        text-align: center;
        height: 184px;
        width: 1166px;
        left: 122px;
        top: 1644px;
        border-radius: nullpx;
        
        color: #000;    
    }
    .head-bottom-button {
        transform: translate(430px,50px);

        :active{
            background-color: $color1;
            border-radius: 4px;
            transition: 0.4s;

            span{
                color: $color2;
                background: url('/assets/content-head/arrow-w.png') right no-repeat;
            }
        }

        &__link {
            background-color: $color3;
            padding: 20px;
            padding-right: 40px;
            padding-left: 28px;
            border-radius: 4px;

            span{
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                color: #000;
                padding-right: 27px;
                background: url('/assets/content-head/arrow.png') right no-repeat;
            }
        }
    }
}

.content-main {
    padding-top: 1950px;

    &__row {
        
    }

    .services {

        &__row {
            background-color: #000000;
            color: $color2;

            span{
                opacity: 80%;
            }
        }
    
        .services-title {
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.8);
            padding-top: 80px;
            padding-bottom: 22px;
        }
        .services-subtitle {
            font-size: 60px;
            font-weight: 500;
            line-height: 60px;
            text-align: center;
            color: #fff;
            padding-bottom: 36px;
        }
        .services-columns {
        }
        .lists {
            justify-content: space-around;
            transform: translateX(185px);
        }
        .list1 {

            img{
                margin-bottom: 50px;
            }

            p{
                transform: translate(60px,-100px);
                font-size: 26px;
                font-weight: 500;
                line-height: 185%;
                color: #fafafa;
            }

            span{
                font-size: 18px;
                line-height: 18px;
                color: rgba(255, 255, 255, 0.8);
            }

            &__img {
            }

            &__text {
                
            }
        }

        .list2 {
            padding-bottom: 113px;
            transform: translate(900px, -549px);
            
            img{
                margin-bottom: 50px;
            }

            p{
                transform: translate(60px,-100px);
                font-size: 26px;
                font-weight: 500;
                line-height: 185%;
                color: #fafafa;
            }

            span{
                font-size: 18px;
                line-height: 18px;
                color: rgba(255, 255, 255, 0.8);
            }

            &__img {
            }

            &__text {
            }
        }
    }

    .works {
        padding-top: 41px;

        &__row {
            display: flex;
        }

    .work-titles{
        padding-top: 130px;
        transform: translateX(87px);
    }
    
    .works-title {
        padding-bottom: 44px;
        font-size: 81px;
        font-weight: 500;
        line-height: 100px;
        letter-spacing: -3px;
        width: 400px;
        color: #000;
    }

    .works-subtitle {
        span{
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            text-transform: uppercase;
            color: #000;
            background: url("/assets/content-main/arrow.png") right no-repeat;
            padding-right: 31px;
        }

        &__link {
        }

    }

    .work-images-info{
        position: relative;
        height: 80px;

        p{
            font-size: 26px;
            font-weight: 300;
            line-height: 0px;
            letter-spacing: -3px;
            color: #fff;
        }

        span{
            font-size: 16px;
            font-weight: 350;
            line-height: 20px;
            text-transform: uppercase;
            color: #b6f214;
            background: url('/assets/content-main/arrow-green.png') right no-repeat;
            padding-right: 30px;
        }
    }

    .works-images {
        position: relative;
        display: flex;
        flex-grow: 0;
        padding-left: 155px;

        img{
            display: flex;
            transform: translateX(20px);
            z-index: 0;
        }

        &__img1 {
        }

        &__title1 {
            height: 26px;
            width: 215px;           
        }

        &__link1 {
        }

        &__img2 {
        }

        &__title2 {
            height: 26px;
            width: 157px;
        }

        &__link2 {
            
        }

        &__img3 {
            
        }

        &__title3 {
        }

        &__link3 {
        }
    }

    .work-images-info1{
        transform: translate(-268px,430px);
    }

    .work-images-info2{
        transform: translate(-260px,435px);
    }

    .work-images-info3{
        
    }

    .work-links {

    }
 } 
}

.content-bottom {

    &__row {
    }

        .project {

            &__row {
                height: 454px;
                width: 1451px;
                left: -7px;
                top: 3374px;
                border-radius: 0px;            
                background-image: url('/assets/content-bottom/bg.png');
            }
        
        .project-title {
            padding-top: 100px;
            padding-bottom: 22px;
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.8);
        }
        .project-subtitle {
            font-size: 60px;
            font-weight: 500;
            line-height: 60px;
            text-align: center;
            color: #000;
            padding-bottom: 38px;
        }
        .project-button {
            padding-top: 28px;
            width: 495px;
            height: 66px;
            border-radius: 4px;
            text-align: center;
            margin-left: 480px;

            a{
                padding: 25px;
                border-radius: 4px;
                background-color: $color2;
            }
            
            span{
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                color: #000;
                background: url("/assets/content-bottom/arrow.png") right no-repeat;
                padding-right: 40px;
                margin-right: 20px;
                padding-left: 40px;
            }
        }
    }
        .brands {
            padding-top: 75px;

            &__row {
                height: 201px;
                width: 1414px;
                left: 13px;
                top: 3903px;
                border-radius: 0px;                
            }
        
        .brands-title {
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.8);
        }
        .brands-column {
        }
        .brands-list {
            padding-top: 50px;  
            display: flex;
            justify-content: space-between;
            text-align: center;
        }
    }
}

.footer {
    margin-top: 90px;

    &__row {
        background-image: url('/assets/footer/bg.png');
        position: absolute;
        width: 1724px;
        height: 692px;
        color: $color2;
    }

    .footer-logo {
        margin-top: 110px;
        
    }
    .footer-social {
        
    }
    .footer-columns {
        
    }
    .footer-lists {
        
    }
    .footer-subscribe {
        
    }
    .footer-mail {
        
    }
    .footer-copyright {
        
    }
}